<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.thewing.boardproject.repository.mapper.BoardMapper">
    <insert id="insertBoard" parameterType="me.thewing.boardproject.domain.BoardDto">
        INSERT INTO BOARD (TITLE, CONTENT, WRITER, PASSWORD, REGDATE, CNT)
        VALUES (#{title},#{content},#{writer},#{password},now(),#{cnt})
    </insert>
    <select id="getBoardList" resultType="me.thewing.boardproject.domain.BoardDto">
        SELECT *
        FROM BOARD
    </select>
</mapper>