<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/board/updateBoard" method="POST">
    <table th:border="1">
        <tr>
            <th>게시글번호</th>
            <td><input th:value="${board.seq}" th:name="seq" readonly="readonly"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td><input th:value="${board.title}" th:name="title"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><input th:value="${board.content}" th:name="content"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td><input th:value="${board.writer}" th:name="writer"></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td><input th:name="password" th:type="password"> </td>
        </tr>
    </table>
    <div>
        <input type="submit" value="수정">
        <a href="/board/list">목록</a>
    </div>
</form>
</body>
</html>