<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xmls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/board/insertBoard" method="post">
    <table th:border="1">
        <tr>
            <th>제목</th>
            <td><input name="title"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><input name="content"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td><input name="writer"></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td><input name="password" type="password"></td>
        </tr>
    </table>
    <div>
        <input type="submit" th:value="등록">
        <a href="/board/list">목록</a>
    </div>
</form>
</body>
</html>